{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
<div class="container mx-auto my-4 max-w-4xl p-4 text-lg leading-relaxed font-sans">
    <div class="bg-gray-100 p-4 rounded shadow">
        <h1 class="text-2xl font-bold mb-4">Bonjour {{ user.getUsername() }} !</h1>
        <p>Votre rôle : {{ user.getRoles()|join(', ') }}</p>
    </div>
</div>
{% endblock %}
