{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div class="flex-col flex justify-center items-center h-screen">
    <h1 class="text-center">Bienvenue sur le market de la guilde Ah-Jin!</h1>
    <img src="{{ asset('images/logo_guilde.jpg') }}" alt="Logo de la guilde" class="w-1/2 h-auto mb-4">
    
</div>
{% endblock %}
