{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div class="flex-col flex justify-center items-center h-screen">
    <div class="text-center bg-GREEN text-white p-8 rounded-lg shadow-lg">
        <h1 class="text-4xl font-bold mb-4">Bienvenue sur le market de la guilde Ah-Jin!</h1>
        <img src="{{ asset('build/images/logo_guilde.jpg') }}" alt="Logo de la guilde" class="w-1/4 h-auto mb-6 mx-auto">

        {% if app.user %}
            <p class="text-lg mb-4">
                Bonjour {{ app.user.username }} ! Explorez les items disponibles et profitez des offres exclusives réservées aux membres de la guilde.
            </p>
            <p class="text-lg">
                N'hésitez pas à participer aux enchères pour obtenir des items rares et précieux !
            </p>
        {% else %}
            <p class="text-lg mb-4">
                Vous n'êtes pas encore connecté. Il est toujours possible de consulter les différents items, mais pour 
                commander ou accéder à d'autres fonctionnalités, merci de vous créer un compte.
            </p>
            <p class="text-lg mb-4">
                En tant que membre de la guilde, vous aurez accès à des offres exclusives, des promotions spéciales, 
                et la possibilité de participer à des enchères pour des items rares. Rejoignez-nous dès maintenant et 
                découvrez tout ce que notre market a à offrir !
            </p>
            <p class="text-lg">
                Si vous avez déjà un compte, connectez-vous pour profiter pleinement de nos services. Sinon, cliquez 
                sur le bouton ci-dessous pour vous inscrire et commencer votre aventure avec la guilde Ah-Jin !
            </p>
            <div class="mt-6 flex justify-center items-center space-x-4">
                <a href="/login" class="bg-VIOLET text-WHITE py-2 px-4 rounded">
                Se connecter
                </a>
                <a href="/register" class="bg-VIOLET text-WHITE py-2 px-4 rounded">
                Créer un compte
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
