{% extends 'base.html.twig' %}

{% block title %}Ajouter un item{% endblock %}

{% block body %}
  <h1>Ajouter un item à la guilde</h1>

  {{ form_start(form) }}
    {{ form_row(form.item) }}
    {{ form_row(form.price) }}

    <button class="btn btn-primary">Ajouter</button>
  {{ form_end(form) }}

  {# Optionnel : liste des items déjà présents #}
  
{% endblock %}
