<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');" class="inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="bg-red-600 text-WHITE py-2 px-4 rounded hover:bg-red-700 transition-colors">
        Supprimer
    </button>
</form>